/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(0 0 0 / 90%);
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  user-select: none;
}

#root {
  background-color: #f0f0f5;
  border-bottom: 1px solid #d0d0d0;
}

i {
  font-size: 16px;
  color: rgba(128, 128, 128, 90%);
  float: right;
}

i span {
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

i::before {
  margin: 4px 5px 0 0;
  font-size: 11px;
  float: left;
}

.left i {
  margin-left: 15px;
}

.left i.logo {
  margin: 0;
  padding: 4px 12px 4px 20px;
  font-size: 17px;
  color: rgb(0 0 0 / 90%);
  border-radius: 4px;
}

.left i.logo::before {
  margin: inherit;
  font-size: inherit;
  float: inherit;
}

.logo.active {
  background-color: #e0e0e0;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.left,
.right {
  height: 100%;
  align-items: center;
  display: flex;
}

ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

ul li {
  height: 100%;
  align-items: center;
  box-shadow: none;
  display: inline-flex;
}

ul li.none {
  display: none;
}

ul > li.application button {
  font-weight: bold;
  text-shadow: none;
}

ul li.act button:first-of-type {
  background-color: #d6d6d6;
  border-radius: 4px;
}

.right ul > li:last-child button {
  margin-right: 10px;
  font-weight: normal;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.25);
}

button,
input,
.systray-icon {
  height: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  background: none;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.25);
}

button:not(.updates):hover,
.systray-icon:hover {
  background-color: #d6d6d6;
  border-radius: 4px;
}

li.inline-flex button:not(.updates):hover,
li.inline-flex:hover i {
  color: #ffffff;
  background-color: #007aff;
  text-shadow: 0 0.5px 1px rgba(255, 255, 255, 0.25);
}

.systray-icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

button.updates {
  padding-left: 0;
  padding-right: 5px;
}

button.updates span.badge {
  background-color: #d6d6d6;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 12px;
  text-shadow: none;
}
